### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build tools ###
build/

### Selenium / TestNG ###
test-output/
logs/
screenshots/
reports/

### WebDriver binaries ###
chromedriver*
geckodriver*
msedgedriver*

### macOS ###
.DS_Store
